!!!
%html
  %head
    %title Visual Representations of Causality
    %link{ :href => "/css/style.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }
    %script{ :src => "http://code.jquery.com/jquery-1.6.min.js" }
    %script{ :src => "script.js" }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23207757-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #container
      = yield