#project_description
  #header Visual Representations of Causality
  :markdown2
    Visual Representations of Causality is preliminary user interaction research for <b>Totem</b>, a project to develop the next generation of computer programming tools for the next generation of creators, many of whom do not classify themselves primarily as "programmers".
    
    An interactive system is dynamic. It changes over time. Not only that, the <i>way it changes</i> changes over time. So the task of creating a diagram -- a static representation -- of an interactive system is not an easy one.
    
    Yet a computer program is exactly this, a static representation of a dynamic system.
    
    The representational conventions available in existing tools -- current programming languages -- often do not align well with our mental models. This makes translating an idea into a program difficult for the inexperienced programmer. Worse, after the initial translation is complete, the misalignment between idea and program remains, and it manifests itself every time the creator wants to tweak the initial idea. This slows the creative iteration cycle and discourages exploration.
    
    By conducting these interviews, I hope to suss out the conventions by which creators naturally envision their systems. I also hope to discover new ways of representing dynamic systems that have been overlooked by the programming community.
    
    <a href="/">&laquo; Back to diagrams</a>